<div class="ui styled accordion">
    <ng-container *ngFor="let item of items ; let i =  index">
     
        
            <div class="title" (click)="onClickTT(i)"
            [ngClass]= "{active : i === openedItemindex}"
            >
              <i class="dropdown icon"></i>
              {{item.title}}
            </div>
            <div 
            [ngClass]= "{active : i === openedItemindex}"
            class="content">
              <p class="transition">
                  {{item.content}}
              </p>
            </div>
    </ng-container>
</div>
