.card { 
    width: 400px;
    top: 10px;
    left: 40px;
    right: 20px;
    height: 500px;
    margin-bottom: 40px;
    /* bottom: 20px;     */
}
.card :hover { 
    /* z-index: 200px; */
    cursor: pointer;
    background-color: rgb(96, 96, 156);
    transition: 1000ms;

    
    
}


  