mat-button-toggle-group { 
    background-color: white;
    color: black;
    margin-left: 50px;
    margin-top: 20px
}
mat-button-toggle { 
    background-color: white;
    color: black;
    box-sizing: inherit;
}