
<!-- <app-elements-home></app-elements-home> -->
<!-- <app-collections-home></app-collections-home> -->
<!-- inverted segment class -->
<div class="ui container ">
<div class="ui secondary pointing menu">
    <a routerLink="/collections" routerLinkActive="active" class="item"  > Collections Module  </a>
    <a routerLink="/elements" routerLinkActive="active" class="item">Elements  Module </a>
    <a routerLink="/views" routerLinkActive="active" class="item">Views   Module </a>
    <a routerLink="/mods" routerLinkActive="active" class="item">Mods .. !  </a>
</div>
<div class="ui segment">
    <router-outlet></router-outlet>
</div>

</div>



