<!-- <app-prac-one></app-prac-one> -->
<!-- <router-outlet></router-outlet> -->

<div>
    <label for="">Enter A length </label>
    <input type="number" >
</div>

<div>
    <input type="checkbox" >
</div>
<div>
    <button [disabled] = !length >genearate</button>
</div>
<div>
    <label for="">Your Pass Word </label>
    <input type="text" [value]="password">
</div>

<div class="columns is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
    <div class="column ">
        <button class="button is-info">INFO </button>
    </div>
    <div class="column ">
        <button class="button is-primary"> PRIMARY </button>
    </div>
    <div class="column">
        <button class="button is-danger">DANGER</button>
    </div>
    <div class="column  is-9">
        <button class=" button is-warning">warning</button>
    </div>
  </div>


  <button class="button is-danger is-loading"></button>