<div class="container">
  <div class="row ">
    <div class="col form-group">
      <label for="">Payee Name </label>
      <input
        type="text"
        class="input form-control"
        (input)="onChangename($event.target.value)"
      />
    </div>
    <div class="col">
      <label for="">Name Is  </label>
      <h2 class="text-danger ">{{ name | titlecase }}</h2>
    </div>
  </div>
  <!-- ||||||||Payment date  -->
  <div class="row ">
    <div class="col form-group">
      <label for="">Payment date  </label>
      <input
        type="date"
        class="input form-control"
        (input)="onChangedate($event.target.value)"
      />
    </div>
    <div class="col">
      <label for="">payment date is   </label>
      <h2 class="text-danger ">{{ date | date :'MMMM dd,y' }}</h2>
    </div>
  </div>
  <!-- ||||||||Currency   -->
  <div class="row ">
    <div class="col form-group">
      <label for="">Amount   </label>
      <input
        
        class="input form-control"
        (input)="onChangeamount($event.target.value)"
      />
    </div>
    
    <div class="col">
      <label for="">payment Amount    </label>
      <h2 class="text-danger ">{{ amount | currency :'INR'}}</h2>
    </div>
  </div>
    <!-- ||||||||Height    -->
    <div class="row ">
      <div class="col form-group">
        <label for="">Height    </label>
        <input
          
          class="input form-control"
          (input)="onChangeHeight($event.target.value)"
        />
      </div>
      
      <div class="col">
        <label for="">height    </label>
        <h2 class="text-danger ">{{ height | number:'2.1-3'}}</h2>
      </div>
    </div>
    <!-- onChangeMiles(input :string ) -->

    <!-- ||||||||||| Kilometer -->
    <div class="row ">
      <div class="col form-group">
        <label for="">Miles Trvelled    </label>
        <input
          
          class="input form-control"
          (input)="onChangeMiles($event.target.value)"
        />
      </div>
      
      <!-- *ngIf="(mile |kilometer :'km') >10" if more than 10 kilometers needed -->
      <div class="col" >
        <label for="">in kilometers</label>
        <h2 class="text-danger ">{{ mile | kilometer :'km' |number :'1.2-2'}}</h2>
      </div>
    </div>
  </div>
